h1,h2,p{
    text-align: center;
}
body {
    background-image: url(https://github.com/FluffyIsHere/Pic/blob/main/Life/Food/bread%20background.jpg?raw=true);
    font-family:sans-serif;
    padding:20px;
}
.menu,img{
    width: 85%;
    background-color: #dec3a1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-25px;

  }
.OCEAN,.Neuroticism{
    text-align: left;
    width: 75%;
}
.score{
    text-align: right;
    width: 25%;
}
.test p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:18px;

}
h1,h2{
    font-family:'Courier New', Courier, monospace;
}
.established{
    font-style:italic;
  }
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom:15px;

}
h2{
    font-size: 30px;
}
hr{
    height:2px;
    background-color:#bd8a6d;
    border-color:#bd8a6d;
}
.bottom-line{
    margin-top: 25px;
}


/* FOOTER */
footer{
    font-size: 14px;
}
a{
    color:black;
}
a:visited{
    color: black;
}
a:hover{
    color:#bd8a6d;
}
a:active{
    color:#bd8a6d;
}

.address{
    margin-bottom:5px;
  }


